<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2015HackNTU</title>
    <link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="./style_temp.css">
</head>
<body ng-app="Index">
    <div id="fb_logo" onclick="window.open('https://www.facebook.com/hackNTU', '_blank');">f</div>
    <canvas id="canvas" style="position: fixed; top:0; left:0; z-index: 50;"></canvas>
    <div ng-controller="IndexCtrl">
        <!--<nav>-->
            <!--<ul>-->
                <!--<li></li>-->
            <!--</ul>-->
        <!--</nav>-->
        <header class="font-HelveticaNeueLTPro-Th">
            <img id="mainpic">

            <h3 id="slogan" class="clear-both">MAKE CHANGES HAPPEN</h3>

            <div id="info" class="margin-bottom">
                <h4>AUG.</h4>
                <img src="imgs/logo2.png" height="80">
                <h4>28-30</h4>
            </div>

            <div id="div_signup" class="container hide">
                <div class="row">
                    <div class="row col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 input-group">
                        <input type="text" id="txt_email" ng-class="{true: 'txt_email-after', false: 'txt_email-before'}[signup_show]" class="form-control" placeholder="Leave Your Email">
                        <div ng-class="{true: 'div_signup-after', false: 'div_signup-before'}[signup_show]" class="input-group-btn">
                            <input type="button" id="btn_signup" ng-class="{true: 'btn_signup-after', false: 'btn_signup-before'}[signup_show]" class="form-control btn" value="I'm Interested!" ng-click="signupOnClick()">
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <section id="intro" class="margin-none">
            <header>
                <h1 class="font-Bauhaus-93 margin-none">INTRO</h1>
                <img src="imgs/intro_bar.png">
            </header>

            <div class="container-fluid margin-top">
                <div class="row clear-both">
                    <div class="pull-left">
                        <img src="imgs/intro_上引號.png">&nbsp
                        <img src="imgs/intro_上引號.png">
                    </div>
                </div>

                <div class="row margin-top margin-bottom clear-both">
                    <article class="col-xs-12  col-sm-offset-2 col-sm-8">
                        <p class="font-HelveticaNeueLTPro-Th">
                            HackNTU is a carnival for Hackers aiming to bridge Asian hacker community with the world. We are not only holding a competition but also a wide variety of Summit to inspire talented youth hackers. Students around the world are invited to join their peers brainstorming crazy ideas and make them real in 40 hours.
                        </p>
                    </article>
                </div>

                <div class="row">
                    <div class="pull-right">
                        <img src="imgs/intro_下引號.png">&nbsp
                        <img src="imgs/intro_下引號.png">
                    </div>
                </div>
            </div>
        </section>

        <section id="faq" class="margin-none clear-both">
            <header>
                <h1 class="font-Bauhaus-93 font-white margin-none">FAQ</h1>
                <img src="imgs/faq_bar.png">
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>Who can apply?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                All current university (both undergraduate and graduate) students anywhere in the world are welcome to apply HackNTU. We will start our application soon.
                            </p>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>Can I get reimbursed for travel?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                We are providing travel reimbursement for students from different places. The amount of subsidies will be varied according to your place of departures and details will be announced later.
                            </p>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>When and Where?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                Hackathon Competition will be held from 8 / 28 to 30. Venue of all activities will be at the campus of National Taiwan University.
                            </p>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>If I don’t have a team or a special idea?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                Hackathon is about making new friends! We will have various pre-events before the competition to help you find your teamates. Each team will have four members, you will get the idea with your fantastic teammates! Just bring your awesome mind!
                            </p>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>If I don’t know how to code?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                It’s will not be a big problem as long as you are willing to do a project with your specialties! We welcome all students with different special skills to contribute thier talents to make changes happen!
                            </p>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>What should I bring?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                Everything you can use to hack! But most importantly you must come with your passion and talent. We will provide delicious Taiwanese food and special activities for you to make new friends. You may also want to share your past project with all the hackers.
                            </p>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <header>
                            <div><h5>Can I bring my developing project?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                No, all the codes/prototypes should be written within the time of hackathon, but you are welcome to have some ideas before the hackathon.
                            </p>
                        </article>
                    </div>
                    <!--<div class="col-sm-4">-->
                        <!--<header>-->
                            <!--<div><h5>What will be included in the summit?</h5></div>-->
                        <!--</header>-->
                        <!--<article>-->
                            <!--<div class="arrow-down"></div>-->
                            <!--<p>-->
                                <!--The 2-day Hacker Summit aims to provide an environment that encourage hackers to exchange ideas with each other, and also with mentors, founders and technolygy specialists. We hope to help hackers further develop their project, learn more about new tech. and also discuss how to hold a better hackathon with other hackathon organizers.-->
                            <!--</p>-->
                        <!--</article>-->
                    <!--</div>-->
                    <div class="col-xs-12 col-sm-6">
                        <header>
                            <div><h5>How are applicants chosen?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                Applicants will be chosen based on two main criteria, the first one will be their interest in HackNTU and the second one will be their prior experience and work (hacakathon experience, projects, awards received, cool products made and so on).
                            </p>
                        </article>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>I am not a student, how can I participate?</h5></div>
                        </header>

                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                We are looking for mentors for the hackers. Mentors will help the hackers develop their projects on site. Leave your email at the mentor column.
                            </p>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>How can I sponsor?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                For anyone who is interested in sponsoring HackNTU, please don’t hesitate to send us an email at hackntu@gmail.com.
                            </p>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <header>
                            <div><h5>I have a question that’s not listed here. <br> Who should I ask?</h5></div>
                        </header>
                        <article>
                            <div class="arrow-down"></div>
                            <p>
                                Please feel free to get in touch with us at hackntu@gmail.com or via Facebook.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <div id="message" ng-class="[{1: 'alert-danger', 2: 'alert-success'}[message_type], {true: 'message-show', false: 'message-hide'}[message_show]]" class="alert alert-dismissible hide" role="alert">
            <button type="button" class="close" aria-label="Close" ng-click="message_show = false"><span aria-hidden="true">&times;</span></button>
            <div ng-show="message_type==1">
                <strong>Error!</strong><br> Email Format Error.
            </div>
            <div ng-show="message_type==2">
                <strong>Success!</strong><br> Thanks For Your Subscription.
            </div>
            <!--For success -> Thanks for your subscription-->
        </div>

        <!--<footer>-->

        <!--</footer>-->
    </div>

    <!--[{1: 'alert-danger', 2: 'alert-success'}[message_type], {true: 'message-show', false: 'message-hide'}[message_show]]-->
    <!--{'alert-danger': (message_type==1), 'alert-success': (message_type==2), 'message-show': message_show, 'message-hide': !message_show}-->

</body>
<script type="text/javascript" src="./jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="./angular.min.js"></script>
<script type="text/javascript" src="./index_temp_app.js"></script>
<script type="text/javascript" src="./index_temp.js"></script>
<script>
</script>
</html>