body {
    font-size: 16px;
    font-family: "Open Sans", '微軟正黑體', sans-serif;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    height: 3em;
    padding: 0.5em;
}

header {
    position: relative;
    text-align: center;
    margin: 2em 0em;
}

ul {
    list-style-type: none;
}

.margin-top {
    margin-top: 2em;
}

.margin-bottom {
    margin-bottom: 2em;
}

#mainpic {
    height: 18em;
}

#slogan {
    font-family: cursive, sans-serif;
    font-style: italic;
}

#txt_email {
    text-align: center;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 0em;
    border-color: rgba(243, 148, 23, 0.8);
    box-shadow: 0 5px 5px rgba(243, 148, 23, 0.075) inset, 0 0 30px rgba(243, 148, 23, 0.6);
    outline: 0 none;
}

.txt_email-before {
    width: 0%;
    display: none !important;
}

.txt_email-after {
    width: 78%;
    display: block;


    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.div_signup-before {
    width: 100%;
}

.div_signup-after {
    width: 22%;

    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.btn_signup-before {
    border-radius: 1em !important;
}

.btn_signup-after {
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;

    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

/*#txt_email:focus {*/
    /*border-color: rgba(243, 148, 23, 0.8);*/
    /*box-shadow: 0 10px 10px rgba(243, 148, 23, 0.075) inset, 0 0 30px rgba(243, 148, 23, 0.6);*/
    /*outline: 0 none;*/
/*}*/

#btn_sign_up {
    /*border-top-right-radius: 1em;*/
    /*border-bottom-right-radius: 1em;*/
    color: white;
}

/*#div_register {*/
    /*position: relative;*/
/*}*/

#message {
    position: fixed;
    right: 1em;
    bottom: 2em;
}

.hide {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.show {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.message-hide {
    opacity: 0;
    z-index: -999;
    /*-webkit-transition: all 0.5s ease-in;*/
    /*-moz-transition: all 0.5s ease-in;*/
    /*-ms-transition: all 0.5s ease-in;*/
    /*-o-transition: all 0.5s ease-in;*/
    /*transition: all 0.5s ease-in;*/
}

.message-show {
    -webkit-animation: show-then-vanish 5s forwards;
    animation: show-then-vanish 5s forwards;
    /*opacity: 0.7;*/
    /*z-index: 999;*/
    /*-webkit-transition: all 0.5s ease-in;*/
    /*-moz-transition: all 0.5s ease-in;*/
    /*-ms-transition: all 0.5s ease-in;*/
    /*-o-transition: all 0.5s ease-in;*/
    /*transition: all 0.5s ease-in;*/
}

@keyframes show-then-vanish {
    0% { opacity: 0; z-index: 999;}
    30% { opacity: 0.7;}
    70% { opacity: 0.7;}
    100% { opacity: 0; z-index: -999;}
}

@-webkit-keyframes show-then-vanish {
    0% { opacity: 0; z-index: 999;}
    30% { opacity: 0.7;}
    70% { opacity: 0.7;}
    100% { opacity: 0; z-index: -999;}
}
