@font-face {
    font-family: "HelveticaNeueLTPro Th";
    src: url("./font/HelveticaNeueLTPro-Th.otf");
}

body {
    font-size: 16px;
    font-family: "Open Sans", '微軟正黑體', sans-serif;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

/* nav */

nav {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    height: 3em;
    padding: 0.5em;
}

ul {
    list-style-type: none;
}

/* header */

header {
    position: relative;
    text-align: center;
    margin: 2em 0em;
}

#mainpic {
    height: 19em;
}

#ntu {
    position: absolute;
    text-align: right !important;
    margin-top: -10rem;
    margin-bottom: 3rem;
    /*margin-left: 15em;*/
    width: 6rem;
}

#slogan {
    font-family: "HelveticaNeueLTPro Th";
}

#txt_email {
    text-align: center;
    z-index: 999;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 0em;

    border-color: rgba(191, 26, 32, 0.8);
    box-shadow: 0 5px 5px rgba(191, 26, 32, 0.075) inset, 0 0 30px rgba(191, 26, 32, 0.6);
    outline: 0 none;
}

#btn_signup {
    /*border-top-right-radius: 1em;*/
    /*border-bottom-right-radius: 1em;*/
    color: white;
    z-index: 999;
    padding: 0em;
}

#txt_email, #btn_signup {
    height: 2.5em;
}

.txt_email-before {
    width: 0%;
    display: none !important;
}

.txt_email-after {
    width: 80%;
    display: block;


    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.div_signup-before {
    width: 100%;
}

.div_signup-after {
    width: 20%;

    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}


.btn_signup-before {
    border-radius: 0.5em !important;
    font-size: 2.5rem;
}

.btn_signup-after {
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    font-size: 1rem;

    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

/* message */

#message {
    position: fixed;
    right: 1em;
    bottom: 2em;
}

.hide {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.show {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.message-hide {
    opacity: 0;
    z-index: -999;
    /*-webkit-transition: all 0.5s ease-in;*/
    /*-moz-transition: all 0.5s ease-in;*/
    /*-ms-transition: all 0.5s ease-in;*/
    /*-o-transition: all 0.5s ease-in;*/
    /*transition: all 0.5s ease-in;*/
}

.message-show {
    -webkit-animation: show-then-vanish 5s forwards;
    animation: show-then-vanish 5s forwards;
    /*opacity: 0.7;*/
    /*z-index: 999;*/
    /*-webkit-transition: all 0.5s ease-in;*/
    /*-moz-transition: all 0.5s ease-in;*/
    /*-ms-transition: all 0.5s ease-in;*/
    /*-o-transition: all 0.5s ease-in;*/
    /*transition: all 0.5s ease-in;*/
}

@keyframes show-then-vanish {
    0% { opacity: 0; z-index: 999;}
    30% { opacity: 0.7;}
    70% { opacity: 0.7;}
    100% { opacity: 0; z-index: -999;}
}

@-webkit-keyframes show-then-vanish {
    0% { opacity: 0; z-index: 999;}
    30% { opacity: 0.7;}
    70% { opacity: 0.7;}
    100% { opacity: 0; z-index: -999;}
}

/* global */

.clear-both {
    clear: both;
}

.div-hr {
    height: 0.1em;
}

.margin-top {
    margin-top: 2em;
}

.margin-bottom {
    margin-bottom: 2em;
}

.margin-none {
    margin: 0em;
}

.font-HelveticaNeueLTPro-Th{
    font-family: "HelveticaNeueLTPro Th";
}

.font-bold {
    font-weight: bold;
}

.background-1 {
    /*#610F13 rgb(97, 15, 19)*/
    background-image: url("./imgs/background1.png");
}

.background-2 {
    /*#BF1A20 rgb(191, 26, 32)*/
    background-image: url("./imgs/background2.png");
}

.background-3 {
    /*#EC651A rgb(236, 101, 26)*/
    background-image: url("./imgs/background3.png");
}

.background-4 {
    /*#F39417 rgb(243, 148, 23)*/
    background-image: url("./imgs/background4.png");
}

.background-5 {
    /*#F0EB3A rgb(240, 235, 58)*/
    background-image: url("./imgs/background5.png");
}



