<!DOCTYPE html>
<html>
<head>
    <title>2015HackNTU</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>
<body>
    <div id="navbar"></div>
    <div id="main"></div>
    <div id="footer"></div>
</body>
<script type="text/javascript" src="/js/index/build/index.js"></script>
</html>
