/*******************************/
/*          Default            */
/*******************************/

html, body {
    font-size: 18px;
    letter-spacing: 0.05em;
    padding: 0em;
    margin: 0em;

    font-family: "Metaplusnormal Roman";
    /*background-color: black;*/
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 0.88em;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

section {
    position: relative;
    width: 100%;
    height: auto;
    clear: both;
    z-index: 0;
}

/*******************************/
/*           Navbar            */
/*******************************/

/* Navbar */
#navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;

    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    /*background-color: rgba(250, 190, 1, 0.7);*/
    /*background-color: #fabe01;*/
}

/* Navbar Links Wrapper*/
#navbar > nav > .content {
    /*-webkit-display: flex !important;*/
    /*display: flex !important;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/

    padding: 0.5em;
}

#navbar > nav ul {
    display: inline;

    -webkit-padding-start: 40px;
    -moz-padding-start: 40px;
    -ms-padding-start: 40px;
    -o-padding-start: 40px;
    padding-start: 40px;

    -webkit-padding-end: 40px;
    -moz-padding-end: 40px;
    -ms-padding-end: 40px;
    -o-padding-end: 40px;
    padding-end: 40px;
}

#navbar > nav ul>li {
    display: inline-block;
    margin: 0 0.5em;
    padding: 0;
}

/* Navbar Links Style */
#navbar > nav a {
    width: 100%;
    color: #ffffff;
    font-weight: bold;
}

/* Navbar Icons */
#navbar > nav a>i {
    margin: 0 -0.2em;
}

/* Links On Hover Effect*/
#navbar > nav li,
#navbar > nav li>a {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

#navbar > nav li:hover,
#navbar > nav a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/*******************************/
/*           Index             */
/*******************************/

/* Index Background */
#index {
    min-width: 960px;
    background-image: url('/img/index/bg1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#index a {
    width: auto;
    height: auto;
}

#index #btn_apply {
    width: auto;
    height: 3em;
    margin-top: -10em;
    opacity: 1;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#index #btn_apply:hover {
    cursor: pointer;
    cursor: hand;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/*#index #btn_interested{*/
    /*height: 2.5em;*/
    /*margin-top: -10em;*/
    /*opacity: 1;*/

    /*-webkit-transition: all 0.5s ease-in-out;*/
    /*-moz-transition: all 0.5s ease-in-out;*/
    /*-ms-transition: all 0.5s ease-in-out;*/
    /*-o-transition: all 0.5s ease-in-out;*/
    /*transition: all 0.5s ease-in-out;*/
/*}*/

/*#index #btn_interested:hover {*/
    /*cursor: pointer;*/
    /*cursor: hand;*/

    /*-webkit-transform: scale(1.1);*/
    /*-moz-transform: scale(1.1);*/
    /*-ms-transform: scale(1.1);*/
    /*-o-transform: scale(1.1);*/
    /*transform: scale(1.1);*/
/*}*/

/*#index #txt_email {*/
    /*position: relative;*/
    /*border: 0;*/
    /*opacity: 0;*/
    /*width: 0;*/
    /*height: 2.5em;*/
    /*padding: 0 1em;*/
    /*background-image: url("/img/index/border-01.svg");*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-color: transparent;*/
    /*margin: 0 auto;*/
    /*top: -6.87em;*/
    /*color: white;*/
    /*z-index: -99;*/

    /*-webkit-transition: all 0.5s ease-in-out !important;*/
    /*-moz-transition: all 0.5s ease-in-out;*/
    /*-ms-transition: all 0.5s ease-in-out;*/
    /*-o-transition: all 0.5s ease-in-out;*/
    /*transition: all 0.5s ease-in-out !important;*/
/*}*/

/*#index #txt_email:focus {*/
    /*outline: none;*/
/*}*/

/* Button(Apply, Mentor, Sponsor) Wrapper */
#index > div {
    height: 0;
}

/* Button(Apply, Mentor, Sponsor) */
/*#index > div > img {*/
    /*width: 12%;*/
    /*margin-left: 1em;*/
    /*margin-right: 1em;*/
    /*margin-top: -10em;*/
/*}*/



/*******************************/
/*           Intro             */
/*******************************/

/* intro content wrapper */
#intro > .content {
    padding: 4em 0;
}

/* Left and Right Quotation */
#intro > .content > img {
    /*width: 7.5%;*/
    width: 5.5%;
}

/* Intro Content Wrapper */
#intro > .content > div {
    margin: 0 auto;
    width: 74%;
}

/* Intro Content */
#intro > .content > div > p {
    /*font-size: 1.4em;*/
    font-size: 1.1em;
    line-height: 1.7;
}

/*******************************/
/*         Invitation          */
/*******************************/

/* Team Logo */
#invitation > .content > a >img {
    margin: 1em 5%;
    width: 20%;
}

/*******************************/
/*            Faq              */
/*******************************/

/* faq content wrapper */
#faq > .content > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%;
    padding-bottom: 2em;
    width: 30%;
}

/*******************************/
/*          Footer             */
/*******************************/

/* Footer Background*/
#footer > footer {
    position: relative;
    min-width: 960px;

    background-image: url('/img/index/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Footer Links Wrapper */
#footer > footer > div.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#footer > footer a {
    color: #ffffff;
}

#footer > footer ul>li {
    margin: 1em 0;
}

#footer > footer > div.content > ul:nth-child(2) > li {
    display: inline;
    margin: 0 0.1em;
}

#footer .copyright {
    position: absolute;
    color: #ffffff;
    bottom: 7%;
    left: 26.5%;
}

/*******************************/
/*          General            */
/*******************************/

.header {
    width: 100%;
    min-width: 960px;
    margin: 3em 0;
}

.content {
    width: 960px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.inner-header {
    height: 4em;
    font-size: 0.88em;
    /*margin: 0.5em 0;*/
    font-weight: 900;
}

.inner-content {
    font-size: 0.8em;
}

.text-vertical-center {
    display: -webkit-inline-flex;
    display: inline-flex;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}

.background-image {
    display: block;
    width: 100%;
    visibility: hidden;
}

.hide {
    opacity: 0;
    /*width: 0;*/
}

/* Input Text Placeholder Color*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
}

/*******************************/
/*         Responsive          */
/*******************************/

@media only screen and (max-width: 1135px){
    html, body{
        font-size: 15px;
    }
}